.root {
    display: flex;
}

.dropdown {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
}

.scoreboard {
    padding: 5%;
    width: 55%;
}

.formContainer {
    justify-content: center;
    align-items: center;
    width: 60%;
}

.title {
    text-align: center;
}

.progress-bar {
    padding-top: 30px;
}
